@use '../abstracts/mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

*:focus,
*:focus-visible,
*:focus-within {
  outline-color: var(--colour-primary-light);
}

html {
  box-sizing: border-box;

  // @include mixins.respond(tab-land) {
  //   font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
  // }

  // @include mixins.respond(tab-port) {
  //   font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  // }

  // @include mixins.respond(big-desktop) {
  //   font-size: 75%; // 1 rem = 12px, 12/16 = 75%
  // }
}

body {
  padding: 3rem;
  min-height: 100dvh;

  @include mixins.respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: var(--colour-primary);
  color: var(--colour-white);
}
