{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true // Add this line!
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:mdx/recommended",
    // "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:jsx-a11y/strict"
    // "standard-with-typescript"
  ],
  "overrides": [],
  // "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "prettier", "jsx-a11y"], // "@typescript-eslint"],
  "root": true,
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "camelcase": "error",
    "spaced-comment": "error",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-duplicate-imports": "error",
    // "no-use-before-define": "off",
    // "no-shadow": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "mdx/code-blocks": true
  }
}
