// Meal Summary
.meal-summary {
  max-width: clamp(45rem, 45vw, 90rem);
  color: var(--colour-white);
  background-color: var(--colour-grey-dark-1);
  box-shadow: 0 0.1rem 1.8rem 1rem rgba(0, 0, 0, 0.25);

  border-radius: 14px;
  padding: 1.5rem 0.8rem;

  & > * {
    text-align: center;
  }

  &__title {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }

  &__text {
    margin-bottom: 1rem;
  }
}

// Meal item
.meal-item {
  display: flex;
  justify-content: space-between;

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__description {
    font-style: italic;
  }

  &__price {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--colour-primary-light);
  }

  &__add {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 0.5rem;
  }
}

// Available Meals
.meals-available {
  width: 100%;
  max-width: clamp(60rem, 60vw, 90rem);
  background-color: var(--colour-white);
  padding: 2rem;
  border-radius: 14px;

  li {
    list-style: none;
    border-bottom: 1px solid var(--colour-grey-light-1);
    padding-bottom: 1rem;

    &:not(:first-child) {
      padding-top: 1rem;
    }
  }
}
