.users__add {
  border-radius: 10px;
  padding: 1rem;

  & .user-form {
    display: grid;

    &>* {
      margin-bottom: 0.25rem;
    }

    &__button {
      justify-self: start;
      margin-top: 0.3rem;
    }
  }
}