.btn {
  &,
  &:link,
  &:visited {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    border-radius: 10rem;
    padding: 0.5rem 2rem;
    font: inherit;
    font-weight: 800;
    transition: all 0.2s;

    // change for the <button> element
    cursor: pointer;
    border: solid 1px;
  }

  &--primary {
    color: var(--colour-white);
    background-color: var(--colour-primary);
    border-color: var(--colour-primary);

    &:hover,
    &:active {
      border-color: var(--colour-primary-dark);
      background-color: var(--colour-primary-dark);
    }
  }

  &--light {
    color: var(--colour-primary);
    background-color: transparent;
    border-color: var(--colour-primary);

    &:hover,
    &:active {
      color: var(--colour-white);
      border-color: var(--colour-primary-dark);
      background-color: var(--colour-primary-dark);
    }
  }

  &--dark {
    color: var(--colour-white);
    background-color: var(--colour-primary-dark-2);
    border-color: var(--colour-primary-dark-2);

    &:hover,
    &:active {
      border-color: var(--colour-primary-dark-3);
      background-color: var(--colour-primary-dark-3);
    }
  }

  &--small {
    border-radius: 5px;
    padding: 0 1rem;
  }

  &__notification {
    border: none;
    border-radius: 10rem;
    padding: 0 0.8rem;

    background-color: var(--colour-primary-light);
    border-color: var(--colour-primary-light);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1em;
  }

  &--long {
    padding: 0.1rem 2.4rem;
  }
}
