.main {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(min(54rem, 100%), 50%);

  padding: 3rem;
}

.users {
  &>* {
    background-color: #fff;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}